// @font-face {
//   font-family: 'font1';
//   src: url('./images/font1.ttf') format('truetype');
// }

.search-text {
  display: flex;
  font-size: 20px;
  color: blue;
  // font-family: 'font1';
  img {
    width: 375px;
  }
}
